.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.home-page-btn {
  background-color: #4094ef;
  color: #ffffff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
}

.page-not-found-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #262626;
}

.page-not-found-message {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  /* or 160% */

  text-align: center;
  cursor: pointer;

  color: #989898;
}
