.user-container {
  display: flex;
  flex-direction: column;
  margin: 40px;
}

.image {
  height: 70px;
  width: 70px;
  border-radius: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.name {
  font-size: 15px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}
